body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 10%;
}

.container {
  border: 2px solid #a2a2a6;
  padding: 20px;
  margin: 20px auto;
}

.color-container {
  width: 100%;
}

.color-panel {
  display: inline-block;
  width: 32%;
  text-align: center;
  margin: 14px auto;
  min-height: 100px;
}

.navy-blue {
  background-color: #00235D;
  color: #fff;
}

.blue {
  background-color: #005CA9;
  color: #fff
}
.light-blue {
  background-color: #6CADDE;
}

.gray {
  background-color: #828282;
}

.light-gray {
  background-color: #bfbfbf;
}

.font-panel {
  width: 45%;
  display: inline-block;
}

.font-label {
  font-size: 20px;
  font-weight: bold;
}

.regular {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.noto-serif {
  font-family: 'Noto Serif', serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

.victor-mono {
  font-family: 'Victor Mono', monospace;
}

.font-panel {
  line-height: 0.8
}

.text-panel h1 {
  font-weight: 700;
  font-size: 32px;
  font-family: 'Noto Serif', serif;  
}

.text-panel h2 {
  font-weight: 600;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}

.text-panel p {
  font-weight: 400;
  font-size: 14px;
  font-family: 'Victor Mono', monospace;
}
